@using Clothing_Store.Core.Contracts;
@using Clothing_Store.Data.Data.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject IFavoritesService favoritesService
@inject IBagsService bagsService
@inject IOrdersService ordersService;
@inject ICustomersService customerService;

@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    string temporaryUserId = this.bagsService.GetOrCreateTemporaryUserId();
    userId ??= temporaryUserId;

    bool isCustomerHasOrders = await this.customerService.IsCustomerHasOrdersAsync(userId);
    int countOfFavoriteProducts = await this.favoritesService.CountOfFavoriteProductsAsync(userId);
    int countOfProductsInBag = await this.bagsService.CountOfProductsInBagAsync(userId);
}

<div class="mg-header-outer">
    <div class="container-fluid gx-lg-5">
        <div class="row gx-0 gx-md-2 align-items-center">
            <div class="col-md-5 col-2 order-3 order-md-0 d-flex d-md-block justify-content-end justify-content-md-start">
                <div>
                    <div class="mg-menu-overlay"></div>
                    <nav class="mg-menu" id="menu">
                        <div class="menu-mobile-header">
                            <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                            <div class="menu-mobile-title"></div>
                            <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <ul class="menu-section mg-menu-outer">
                            <li class="menu-item-has-children">
                                <a asp-controller="Home" asp-action="Index">Начална страница</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-controller="Products" asp-action="All">Магазин <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="mg-sub-menu-outer">
                                    <div class="menu-subs">
                                        <ul>
                                            <li><a asp-controller="Products" asp-action="AllMenProducts">Мъжка Колекция</a></li>
                                            <li><a asp-controller="Products" asp-action="AllWomenProducts">Женска Колекция</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            @if(isCustomerHasOrders)
                            {
                                <li class="menu-item">
                                    <a asp-controller="Orders" asp-action="MineOrders">Моите поръчки</a>
                                </li>
                            }
                            <li class="menu-item">
                                <a href="contact-us.html">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-5">
                <div class="header-logo text-center">
                    <a asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/images/svgs/logo.svg" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-5 text-end">
                <div class="header-icons-outer">
                    <ul>
                        <li class="mg-search-icon"><a href="#" data-bs-toggle="modal" data-bs-target="#search-popup"><img src="~/images/svgs/search.svg" alt="" /></a></li>
                        @if (this.User?.Identity?.IsAuthenticated ?? false)
                        {
                            @if (countOfFavoriteProducts != 0)
                            {
                                <li><a asp-controller="Favorites" asp-action="All"><img src="~/images/svgs/wishlist.svg" alt="" /><span class="mg-header-icon-counter">@countOfFavoriteProducts</span></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Home" asp-action="Index"><img src="~/images/svgs/wishlist.svg" alt="" /><span class="mg-header-icon-counter">@countOfFavoriteProducts</span></a></li>
                            }
                        }
                        @if (this.User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index"><img src="~/images/pngs/logout.png" alt="" /></a></li>
                        }
                        else
                        {
                            <li><a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path" id="account"><img src="~/images/svgs/profile.svg" alt="" /></a></li>
                        }
                        @if(countOfProductsInBag != 0)
                        {
                            <li><a asp-controller="Bags" asp-action="All"><img src="~/images/svgs/cart.svg" alt="" /><span class="mg-header-icon-counter cart-counter">@countOfProductsInBag</span></a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Home" asp-action="Index"><img src="~/images/svgs/cart.svg" alt="" /><span class="mg-header-icon-counter cart-counter">@countOfProductsInBag</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>