@using Clothing_Store.Core.Contracts;
@using Clothing_Store.Data.Data.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject IFavoriteService favoriteService
@inject IShoppingBagService shoppingBagService

@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    string temporaryUserId = shoppingBagService.GetOrCreateTemporaryUserId();
    userId ??= temporaryUserId;

    int countOfFavoriteProducts = await this.favoriteService.CountOfFavoriteProductsAsync(userId);
    int countOfProductsInBag = await this.shoppingBagService.CountOfProductsInBagAsync(userId);
}

<div class="mg-header-outer">
    <div class="container-fluid gx-lg-5">
        <div class="row gx-0 gx-md-2 align-items-center">
            <div class="col-md-2 col-lg-3 col-5">
                <div class="header-logo">
                    <a><img class="img-fluid" src="images/svgs/Footer-Logo.svg" alt="" /></a>
                </div>
            </div>
            <div class="col-md-5 col-2 order-3 order-md-0 d-flex  justify-content-end mg-center-menu-align justify-content-md-center">
                <div>
                    <div class="mg-menu-overlay"></div>
                    <nav class="mg-menu" id="menu">
                        <div class="menu-mobile-header">
                            <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                            <div class="menu-mobile-title"></div>
                            <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <ul class="menu-section mg-menu-outer">
                            <li class="menu-item-has-children">
                                <a asp-controller="Products" asp-action="All">Магазин <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="mg-sub-menu-outer">
                                    <div class="menu-subs">
                                        <ul>
                                            @* <li><a href="collection.html">New Arrivals</a></li>
                                            <li><a href="collection.html">Top Trending</a></li> *@
                                            <li><a asp-controller="Products" asp-action="AllMenProducts">Мъжка Колекция</a></li>
                                            <li><a asp-controller="Products" asp-action="AllWomenProducts">Женска Колекция</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a asp-controller="Orders" asp-action="MineOrders">Моите поръчки</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact-us.html">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 col-5 text-end">
                <div class="header-icons-outer mg-header-icon-style2">
                    <ul>
                        <li class="mg-search-icon mg-search-box-main">
                            
                            <div class="mg-search-box">
                                <div class="input-group">
                                    <div class="form-outline">
                                        <form id="searchForm" asp-controller="Search" asp-action="ProductsByQuery" method="get">
                                        <input name="Query" type="search" placeholder="Search Here.." class="form-control">
                                        </form>
                                    </div>
                                    <button type="button" class="btn" id="searchButton">
                                        <img src="/images/svgs/search-white.svg" alt=""/>
                                    </button>
                                </div>
                            </div>                         
                        </li>
                        @if(this.User?.Identity?.IsAuthenticated ?? false)
                        {
                            @if (countOfFavoriteProducts != 0)
                            {
                                <li><a asp-controller="Favorites" asp-action="All"><img src="~/images/svgs/wishlist-white.svg" alt="" /><span class="mg-header-icon-counter">@countOfFavoriteProducts</span></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Home" asp-action="Index"><img src="~/images/svgs/wishlist-white.svg" alt="" /><span class="mg-header-icon-counter">@countOfFavoriteProducts</span></a></li>
                            }
                        }
                        @if (this.User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })"><img src="~/images/pngs/white-logout.png" alt="" /></a></li>
                        }
                        else
                        {
                            <li><a id="account" asp-area="Identity" asp-page="/Account/Login"><img src="~/images/svgs/account-white.svg" alt="" /></a></li>
                        }
                        @if(countOfProductsInBag != 0)
                        {
                            <li><a asp-controller="ShoppingBags" asp-action="All"><img src="~/images/svgs/shopping-bag-white.svg" alt="" /><span class="mg-header-icon-counter cart-counter">@countOfProductsInBag</span></a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Home" asp-action="Index"><img src="~/images/svgs/shopping-bag-white.svg" alt="" /><span class="mg-header-icon-counter cart-counter">@countOfProductsInBag</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("searchButton").addEventListener('click', function () {
        document.getElementById("searchForm").submit();
    });
</script>
