@using Clothing_Store.Core.Contracts;
@using Clothing_Store.Core.ViewModels.Bags;
@using System.Security.Claims;
@using Clothing_Store.Core.ViewModels.Shared;
@model PaginatedViewModel<ProductBagViewModel>
@inject IBagsService shoppingBagService

@{
    ViewData["Title"] = "Вашата чанта";

    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    string temporaryUserId = shoppingBagService.GetOrCreateTemporaryUserId();
    userId ??= temporaryUserId;

    decimal totalPrice = await this.shoppingBagService.CalculateTotalPrice(userId);
    string priceWithShipping = totalPrice == 0 ? totalPrice.ToString("F2") : (totalPrice + 5).ToString("F2");
}

<div class="mg-page-outer">
    <div class="container-fluid gx-lg-5 gx-md-4">
        <div class="mg-section-tittles text-center">
            <h2 class="mg-heading">@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="container-lg gx-lg-5 gx-md-4">
        <div class="mg-cart-page-outer">
            <div class="row">
                <div class="col-md-8">
                    <div class="mg-cart-product-list-outer">
                        <div class="mg-cart-product-list-heading">
                            Вашите продукти
                        </div>
                        <div class="mg-cart-product-list-main">
                           
                                @foreach (var product in Model.Models)
                                {
                                    <div class="mg-cart-product-list-grid">
                                    <div class="mg-cart-product-remove-btn"><a asp-action="Delete" asp-route-productId="@product.Id" asp-route-page="@Model.Models.PageNumber"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                        <div class="mg-cart-product-list-image">
                                            <img src="@product.ImageUrl" alt="" />
                                        </div>
                                        <div class="mg-cart-productr-list-details">
                                            <div class="mg-cart-product-tittle"><a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id">@product.CategoryName</a></div>
                                            <div class="mg-cart-product-price">@(product.Price * product.Quantity) ЛВ @* <span>tax incl.</span> *@</div>
                                            @* <div class="mg-cart-small-text">Unit Price: <span>74.05 $ tax incl.</span></div> *@
                                            <div class="mg-cart-quantity-size-btn-outer mt-3">
                                                <div class="mg-cart-quantiy-outer">
                                                    <button onclick="decrementQuantity(@product.Id, '@product.SizeName', '@product.Quantity')" class="mg-quantity-step-btn"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                    @{
                                                        int totalQuantity = await shoppingBagService.GetTotalQuantityOfSizeOfProduct(product.SizeName, product.Id);
                                                    }
                                                    <input class="mg-cart-quantity" min="1" name="quantity" max="@totalQuantity" value="@product.Quantity" type="number" >
                                                    <button onclick="incrementQuantity(@product.Id, '@product.SizeName', '@product.Quantity')" class="mg-quantity-step-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                
                                                <div class="mg-cart-size-btn-outer">
                                                    <div class="mg-cart-size">@product.SizeName</div>
                                                </div>
                                            </div>
                                            @if(product.IsProductInStock)
                                            {
                                                <div class="mg-cart-stock-text">В наличност</div>
                                            }
                                            else
                                            {
                                                <div class="mg-cart-stock-text color-red">Изчерпан</div>
                                            }
                                        </div>
                                    </div>
                                }                          
                        </div>
                        <!-- Pagination start -->
                        @if (Model.Models.TotalPages > 1)
                        {
                            <div class="mg-pagination-outer mt-3">
                                <nav>
                                    <ul class="pagination justify-content-center align-items-center">
                                        <li class="page-item pagination-nextprev @(Model.Models.HasPreviousPage ? "" : "disabled")">
                                            <a class="page-link" aria-label="Previous"
                                               asp-route-page="@(Model.Models.PageNumber - 1)">
                                                <img src="~/images/pngs/mg-arrow-left.png" alt="" />
                                            </a>
                                        </li>

                                        @{
                                            int startPage = Math.Max(1, Model.Models.PageNumber - 4);
                                            int endPage = Math.Min(Model.Models.TotalPages, startPage + 9);

                                            if (Model.Models.TotalPages >= 10 && endPage - startPage < 9)
                                            {
                                                startPage = Math.Max(1, endPage - 9);
                                            }
                                        }

                                        @for (int i = startPage; i <= endPage; i++)
                                        {
                                            <li class="page-item">
                                                <a class="page-link @(Model.Models.PageNumber == i ? "active" : "")"
                                                   asp-route-page="@i">@i</a>
                                            </li>
                                        }

                                        <li class="page-item pagination-nextprev @(Model.Models.HasNextPage ? "" : "disabled")">
                                            <a class="page-link" aria-label="Next"
                                               asp-route-page="@(Model.Models.PageNumber + 1)">
                                                <img src="~/images/pngs/mg-arrow-right.png" alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        }
                        <!-- Pagination end -->
                    </div>
                </div>
                <div class="col-md-4">
                    @* <div class="mg-cart-promo-code-outer mt-4 mt-md-0 mb-4">
                        <form class="cart-promo-code-form">
                            <div class="input-group mg-cart-promo-input-main">
                                <input type="text" class="form-control" placeholder="Enter Promo Code">
                                <button class="mg-btn mg-light-bg-btn mg-promo-btn" type="button">Apply Code</button>
                            </div>
                        </form>
                    </div> *@
                    <div class="mg-cart-details-pannel-outer">
                        <div class="mg-cart-order-summery-heading text-center">
                            Детайли на поръчката
                        </div>
                        <div class="mg-cart-order-summary-des text-center">Цена на продуктите, цена на доставката, и общата цена на всичко взето заедно</div>
                        <div class="mg-cart-line-break"></div>
                        <div class="mg-cart-detail-list-outer">
                            <div class="mg-cart-detail-list-grid">
                                <div class="row gx-2">
                                    <div class="col-6">
                                        <div class="mg-cart-list-text">Цена на продуктите:</div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <div class="mg-cart-list-text">@totalPrice.ToString("F2") ЛВ</div>
                                    </div>
                                </div>
                            </div>
                           @*  <div class="mg-cart-detail-list-grid">
                                <div class="row gx-2">
                                    <div class="col-6">
                                        <div class="mg-cart-list-text">Discount:</div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <div class="mg-cart-list-text">13%</div>
                                    </div>
                                </div>
                            </div> *@
                            <div class="mg-cart-detail-list-grid">
                                <div class="row gx-2">
                                    <div class="col-6">
                                        <div class="mg-cart-list-text">Доставка:</div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <div class="mg-cart-list-text">5.00 ЛВ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-cart-line-break"></div>
                            <div class="mg-cart-detail-list-grid">
                                <div class="row gx-2">
                                    <div class="col-6">
                                        <div class="mg-cart-list-text">Цената с доставка:</div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <div class="mg-cart-list-text">@priceWithShipping Лв</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mg-cart-panel-btns mt-3">
                            <a asp-controller="Orders" asp-action="Checkout" class="mg-btn mg-light-bg-btn mg-form-btn mb-3">Поръчайте</a>
                            <a href="#" onclick="window.history.back()" class="mg-btn mg-light-bg-btn mg-form-btn mg-black-btn">Продължете с пазаруването</a>
                        </div>
                        <div class="mg-cart-secure-btn mt-4 text-center">
                            <img src="~/images/svgs/lock.svg" alt="" /> Защитено плащане
                        </div>
                        <div class="cart-panel-detail-pay-icon text-center mt-4">
                            <img class="img-fluid w-auto" src="~/images/pngs/pay-icons.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- You may also like section start -->
            <section>
                <div class="mg-you-may-like-section-outer">
                    <div>
                        <div class="mg-section-tittles text-center">
                            <h2 class="mg-heading">Препоръчани продукти</h2>
                        </div>
                        <div class="mg-you-may-like-product-carousal">
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-1.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-1.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Jumper With Detailing</a>
                                        <div class="mg-regular-price"><span class="mg-discount-price">$25.00</span>$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-2.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-2.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Jumper With Detailing</a>
                                        <div class="mg-regular-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-3.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-3.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Jumper With Detailing</a>
                                        <div class="mg-regular-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-4.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-4.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Jumper With Detailing</a>
                                        <div class="mg-regular-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-5.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-5.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Rayban Sunglasses</a>
                                        <div class="mg-regular-price"><span class="mg-discount-price">$25.00</span>$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-6.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-6.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Black Leather Hand Bag</a>
                                        <div class="mg-regular-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-7.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-7.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Black Leather Belt</a>
                                        <div class="mg-regular-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mg-product-main mg-img-hdark">
                                    <div class="position-relative">
                                        <div class="mg-product-image">
                                            <a href="product.html"><img class="img-fluid" src="assets/images/fproducts-8.jpg" alt="" /></a>
                                            <a href="product.html"><img class="img-fluid mg-hover-img" src="assets/images/fproducts-8.2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mg-product-icons-outer">
                                            <div class="mg-product-icon">
                                                <a href="#"><img class="mg-product-icon-img" src="assets/images/heart-icon.svg" alt="" /></a>
                                            </div>
                                            <div class="mg-product-icon">
                                                <a data-bs-toggle="modal" data-bs-target="#mg-quick-view-modal" href="javascript:void(0)"><img class="mg-product-icon-img" src="assets/images/view-icon.svg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="mg-product-add-to-cart-btn-outer">
                                            <a class="mg-product-add-to-cart-btn" href="cart.html">Add To Bag</a>
                                        </div>
                                    </div>
                                    <div class="mg-product-tittles text-center">
                                        <a class="mg-product-name" href="product.html">Grey Stylish Cap</a>
                                        <div class="mg-regular-price">$20.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- You may also like section end -->
        </div>
    </div>
</div>

@section Scripts {
    <script>

        function decrementQuantity(productId, sizeName, currentQuantity) {
            var quantityInput = $('.mg-cart-quantity')[0];

            if (currentQuantity > 1) {
                quantityInput.stepDown

                var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

                $.ajax({
                    type: "POST",
                    url: '/Bags/DecrementQuantityOfProductInBag',
                    headers: {
                        'RequestVerificationToken': antiForgeryToken
                    },
                    data:
                    {
                        productId,
                        sizeName,
                        currentQuantity
                    },
                    success: function (response) {

                        console.log("Everything is okey.")
                        window.location.href = "/Bags/All";

                    },
                    error: function (xhr, status, error) {
                        console.log('Error.');
                    }
                });
            }
        }

        function incrementQuantity(productId, sizeName, currentQuantity) {

            var quantityInput = $('.mg-cart-quantity')[0];

            quantityInput.stepUp();

            var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: '/Bags/IncrementQuantityOfProductInBag',
                headers: {
                    'RequestVerificationToken': antiForgeryToken
                },
                data:
                {
                    productId,
                    sizeName,
                    currentQuantity
                },
                success: function (response) {

                    console.log("Everything is okey.")
                    window.location.href = "/Bags/All";

                },
                error: function (xhr, status, error) {
                        console.log('Error.')
                }
            });
        }
    </script>
}
