@using Clothing_Store.Core.Contracts;
@using Clothing_Store.Core.ViewModels.Products;
@using Clothing_Store.Core.ViewModels.Reviews;
@using Clothing_Store.Data.Data.Models;
@using System.Security.Claims;
@inject IProductsService productsService
@inject IFavoritesService favoritesService

@model DetailsViewModel
@{
    ViewData["Title"] = "Информация за продукта";
    var productReview = new PostProductReviewViewModel();
    productReview.ProductId = Model.Id;

    string gender = Model.IsMale ? "Мъжки" : "Женски";
    string navigation = Model.IsMale ? "AllMenProducts" : "AllWomenProducts";

    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var userFavoriteProducts = await this.favoritesService.AllUserFavoriteProductsAsync(userId);
}

<partial name="_SearchPartial" />

<!--MG Breadcrumb-->
<div class="mg-breadcrumb-outer">
    <div class="container-fluid gx-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начална страница</a></li>
                <li class="breadcrumb-item"><a asp-controller="Products" asp-action="@navigation">@gender</a></li>
                <li class="breadcrumb-item active">@Model.Category</li>
            </ol>
        </nav>
    </div>
</div>
<!--MG Breadcrumb End Here-->
<!--MG Page Start Here-->
<div class="mg-page-outer product-page-outer">
    <div class="container-lg gx-lg-0">
        <div class="row">
            <div class="col-md-6">
                <div class="mg-product-slider-outer">
                    <div class="mg-product-slider-main">
                        <div class="mg-product-slider">
                            @foreach (var image in Model.Images)
                            {
                                <div>
                                    <img class="img-fluid" src="@image" alt="" />
                                </div>
                            }
                        </div>
                        <div class="mg-product-slider-thumb">
                            @foreach (var image in Model.Images)
                            {
                                <div>
                                    <img class="img-fluid" src="@image" alt="" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--Product Slider Script-->
            </div>
            <div class="col-md-6">
                <div class="mg-product-page-details-outer">
                    <div class="row gx-2">
                        <div class="col-10">
                            <h2 class="mg-product-page-product-tittle">@Model.Category</h2>
                        </div>
                        <div class="col-2 text-end">
                            @if (Model.IsProductInStock)
                            {
                                <div class="mg-stock-text">В наличност</div>
                            }
                            else
                            {
                                <div class="mg-stock-text out-stock">Изчерпан</div>
                            }
                        </div>
                    </div>
                    <div class="mg-rating-pannel">
                        <div class="mg-rating-outer">
                            <div class="mg-ratings-full">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="mg-ratings" style="width: @Model.PercentageOfAverageStars%;">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mg-rating-count">
                            ( <span>@Model.CountOfReviews</span> Ревюта )
                        </div>
                    </div>
                    <div class="mg-product-page-product-price mt-4">
                        <span class="mg-price">@Model.Price ЛВ</span> <span class="mg-product-page-regular-price"><del>@* $223 *@</del></span> <span class="mg-product-page-small-text">@* 13% off *@</span>
                    </div>
                    @* <div class="mg-variant-pannel mg-product-page-sec-spacing">
                    <div class="mg-product-page-small-heading">Colors</div>
                    <div class="mg-color-variant-outer">
                    <ul>
                    <li class="mg-active-variant"><a style="background-color: #242424;" class="mg-color-variant" href="#"></a></li>
                    <li><a style="background-color: #CD5C5C;" class="mg-color-variant" href="#"></a></li>
                    <li><a style="background-color: #6495ED;" class="mg-color-variant" href="#"></a></li>
                    <li><a style="background-color: #483D8B;" class="mg-color-variant" href="#"></a></li>
                    <li><a style="background-color: #CD5C5C;" class="mg-color-variant" href="#"></a></li>
                    </ul>
                    </div>
                    </div> *@
                    @if (Model.IsProductInStock)
                    {
                        <div class="row mg-product-page-sec-spacing align-items-end">
                            <div class="col-8">
                                <div class="mg-variant-pannel">
                                    <div class="mg-product-page-small-heading">Размер</div>
                                    <div class="mg-size-variant-outer">
                                        <ul>
                                            @foreach (var size in Model.Sizes)
                                            {
                                                <li><a href="#">@size.SizeName</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <span id="size-error-message" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="mg-size-chart-outer">
                                    <div class="mg-product-page-small-text mg-size-chart">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#mg-size-guide-modal">
                                            <span><img src="~/images/svgs/size-chart.svg" alt="" /></span>Таблица с размери
                                        </a>
                                    </div>
                                </div>
                                <!-- MG Size Guide Modal -->
                                <div class="modal fade mg-default-modal" id="mg-size-guide-modal" tabindex="-1" aria-labelledby="mg-size-guide-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content mg-default-modal-content">
                                            <div class="modal-header">
                                                <div class="size-chart-heading">Таблица с размери <span>( В СМ )</span></div>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive">
                                                    <table class="table mg-size-table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"></th>
                                                                <th scope="col">XXS</th>
                                                                <th scope="col">XS</th>
                                                                <th scope="col">S</th>
                                                                <th scope="col">M</th>
                                                                <th scope="col">L</th>
                                                                <th scope="col">XL</th>
                                                                <th scope="col">XXL</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Chest</td>
                                                                <td>80</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Waist</td>
                                                                <td>65</td>
                                                                <td>63-68</td>
                                                                <td>63-68</td>
                                                                <td>63-68</td>
                                                                <td>63-68</td>
                                                                <td>63-68</td>
                                                                <td>63-68</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hips</td>
                                                                <td>83</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                                <td>81-85</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Inseam</td>
                                                                <td>77</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Body Height</td>
                                                                <td>160</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                                <td>75-80</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mg-variant-pannel mg-product-page-sec-spacing">
                            <div class="mg-product-page-small-heading">Количество</div>
                            <div class="mg-quantity-variant-outer">
                                <div class="mg-cart-quantiy-outer">
                                    <button onclick="decrementQuantity()" class="mg-quantity-step-btn"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    <input class="mg-cart-quantity" min="1" name="quantity" value="1" type="number">
                                    <button onclick="incrementQuantity()" class="mg-quantity-step-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <span id="quantity-error-message" style="color: red;"></span>
                        </div>
                    }
                    <div class="mg-product-add-to-cart-outer mg-product-page-sec-spacing">
                        <div class="row gx-3">
                            @if (Model.IsProductInStock)
                            {
                                <div class="col-8">
                                    <button class="btn mg-btn mg-black-btn mg-form-btn mg-light-bg-btn" onclick="addProductToBag(@Model.Id)"><span class="mg-btn-icon"><img src="assets/images/product-bag.svg" alt="" /></span>Добави в чантата</button>
                                </div>
                            }
                            <div class="col-4">
                                <a class="btn mg-btn mg-form-btn mg-light-bg-btn" asp-controller="Favorites" asp-action="Add" asp-route-id="@Model.Id"><span class="mg-btn-icon"><img src="assets/images/product-heart.svg" alt="" /></span>Добави в любими</a>
                            </div>
                        </div>
                    </div>
                    @* <div class="mg-product-brief-details mg-product-page-sec-spacing">
                    <div class="mb-1">SKU: <span>12527</span></div>
                    <div class="mb-1">Vendor: <span>Bershka</span></div>
                    <div class="mb-1">Product type: <span>Shoes</span></div>
                    <div class="mb-1">Tags: <span>Boots</span></div>
                    </div> *@
                    <div class="mg-free-shipping-bar text-center mg-product-page-sec-spacing">
                        Безплатна стандартна доставка при покупка над 100 ЛВ
                    </div>
                    <div class="mg-accordian-outer">
                        <div class="accordion accordion-flush" id="mg-product-details">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tab1">
                                        Описание
                                    </button>
                                </h2>
                                <div id="tab1" class="accordion-collapse collapse show" data-bs-parent="#mg-product-details">
                                    <div class="accordion-body">
                                        <p>
                                            @Model.Description
                                        </p>
                                        @* <ul class="mg-list mt-4">
                                        <li>
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.
                                        </li>
                                        <li>
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.
                                        </li>
                                        <li>
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.
                                        </li>
                                        </ul> *@
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tab2">
                                        Начин на измиване
                                    </button>
                                </h2>
                                <div id="tab2" class="accordion-collapse collapse" data-bs-parent="#mg-product-details">
                                    <div class="accordion-body">
                                        <p>
                                            @Model.ClearInfo
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tab3">
                                        Ревюта
                                    </button>
                                </h2>
                                <div id="tab3" class="accordion-collapse collapse" data-bs-parent="#mg-product-details">
                                    <div class="accordion-body">
                                        <div class="mg-reviews-outer mt-4">
                                            <div class="mg-ratings-details text-center">
                                                <div class="mg-rating-score">@Model.AverageRating.ToString("F1")</div>
                                                <div class="mg-rating-outer">
                                                    <div class="mg-ratings-full">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="mg-ratings" style="width: @Model.PercentageOfAverageStars%;">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="mg-rating-count mg-rating-count-review-tab">
                                                    ( Има <span>@Model.CountOfReviews</span> ревюта )
                                                </div>

                                                <div class="mg-rating-progress-bar-outer mt-4">
                                                    <div class="mg-rating-progress-bar-inner mb-1">
                                                        <div class="mg-rating-label-outer">
                                                            <div class="mg-rating-label">
                                                                5 звезди (@Model.FiveStarts)
                                                            </div>
                                                        </div>
                                                        <div class="mg-rating-progress-outer">
                                                            <div class="mg-rating-progress">
                                                                <span style="width: @Model.FiveStarts%;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mg-rating-progress-bar-inner mb-1">
                                                        <div class="mg-rating-label-outer">
                                                            <div class="mg-rating-label">
                                                                4 звезди (@Model.FourStarts)
                                                            </div>
                                                        </div>
                                                        <div class="mg-rating-progress-outer">
                                                            <div class="mg-rating-progress">
                                                                <span style="width:  @Model.FourStarts%;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mg-rating-progress-bar-inner mb-1">
                                                        <div class="mg-rating-label-outer">
                                                            <div class="mg-rating-label">
                                                                3 звезди (@Model.ThreeStars)
                                                            </div>
                                                        </div>
                                                        <div class="mg-rating-progress-outer">
                                                            <div class="mg-rating-progress">
                                                                <span style="width: @Model.ThreeStars%;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mg-rating-progress-bar-inner mb-1">
                                                        <div class="mg-rating-label-outer">
                                                            <div class="mg-rating-label">
                                                                2 звезди (@Model.TwoStars)
                                                            </div>
                                                        </div>
                                                        <div class="mg-rating-progress-outer">
                                                            <div class="mg-rating-progress">
                                                                <span style="width: @Model.TwoStars%;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mg-rating-progress-bar-inner mb-1">
                                                        <div class="mg-rating-label-outer">
                                                            <div class="mg-rating-label">
                                                                1 звезда (@Model.OneStar)
                                                            </div>
                                                        </div>
                                                        <div class="mg-rating-progress-outer">
                                                            <div class="mg-rating-progress">
                                                                <span style="width: @Model.OneStar%;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mg-customers-reviews-outer">
                                                @await Html.PartialAsync("_ProductReviewsPartial")
                                            </div>

                                            @if (Model.Reviews.Count() >= 3)
                                            {
                                                <div class="mg-see-more-reviews-btn mt-4 text-center" data-page-number="2">
                                                    <a href="#">Вижте повече ревюта</a>
                                                </div>
                                            }
                                            <div class="mg-write-review-btn">
                                                <a class="mg-btn mg-form-btn mg-black-btn mg-write-review-toggle-btn" href="javascript:void(0);" id="write-review">Напишете Ревю</a>
                                            </div>
                                            <!--Write a review-->
                                            <div class="mg-write-review-pannel-outer">
                                                @await Html.PartialAsync("_PostReviewPartial", productReview)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tab4">
                                        Доставка, връщане и обмен
                                    </button>
                                </h2>
                                <div id="tab4" class="accordion-collapse collapse" data-bs-parent="#mg-product-details">
                                    <div class="accordion-body">
                                        <p>
                                            Поръчките обикновено се доставят в рамките на 2 до 30 работни дни след приемане на поръчката.
                                            Графикът за доставка обикновено се спазва, въпреки че Clothing-Store не може да гарантира точност.
                                            Във всеки случай, Clothing-Store ще положи всички разумни усилия, за да осигури доставката на Продуктите до вас в рамките на 30 дни от датата на приемане.
                                            Ако не сте доволни от закупените от вас артикули, те могат да бъдат върнати с куриер в рамките на 30 дни.
                                            Използвайте формуляра за връщане и етикета, предоставени в опаковката, като доставката ще бъде безплатна само с куриер на DPD.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- You may also like section start -->
        @* @{
        var recommendedProducts = await this.productsService.GetRecommendedProductsAsync(Model.Id);
        } *@
        @await Html.PartialAsync("_RecommendedProductsPartial", Model.RecommendedProducts)
        <!-- You may also like section end -->
    </div>
</div>

@section Scripts {
    @* <partial name="_ValidationScriptsPartial" /> *@
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.0/dist/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/productReviews.js" asp-append-version="true"></script>
    <script>
        var userFullName = '@Html.Raw(ViewBag.UserFullName)';
        var productId = '@Model.Id';
        var userProfileImageUrl = '@ViewBag.UserProfileImageUrl';
        bindRazorProperties(productId, userFullName, userProfileImageUrl);
    </script>
    <script src="~/js/loadModalProductDetails.js" asp-append-version="true"></script>
    <script src="~/js/addToBag.js" asp-append-version="true"></script>
    <script>
        var page = '@ViewData["CurrentPage"]';
        var sorting = '@ViewData["CurrentSort"]';
        var selectedProducts = '@Html.Raw(ViewData["CurrentSelectedProducts"])'
        var selectedPrice = '@ViewData["CurrentSelectedPrice"]';
        var selectedSizes = '@ViewData["CurrentSelectedSizes"]';

        function handleAddToBagClick(productId) {
            addProductToBag(productId, page, sorting, selectedProducts, selectedPrice, selectedSizes);
        }
    </script>
}
